.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; 
    place-items: center;
    gap: 0;
}

.mostSearchedContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.mostSearchedTitle {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lightblue;
    gap: 1rem;
}

.mostSearchedContent {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-style: italic;
}

.table{
    width: 100%;
    border-collapse: collapse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: lightgray;
}
  
tbody tr:nth-child(even) {
    background-color: white;
}

th, td{
    border: 1px solid #fe6d1a;
}

@media (max-width: 768px) {
    .container {
        display: grid;
        place-items: center;
        justify-content: center;
        align-content: start;
    }
    
    .mostSearchedContainer {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    
    .mostSearchedTitle {
        font-size: 18px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: lightblue;
    }
    
    .mostSearchedContent {
        font-size: 14px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        font-style: italic;
    }

    .tableContainer{
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    .tableTitle{
        font-size: 18px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: lightblue;
        text-align: center;
    }
    
    .table{
        border-collapse: collapse;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }
    
    tbody tr:nth-child(odd) {
        background-color: lightgray;
    }
      
    tbody tr:nth-child(even) {
        background-color: white;
    }
    
    th, td{
        border: 1px solid #fe6d1a;
    }

    .mediaQuery{
        display: none;
    }
}
