.container{
    place-items: center;
    align-content: center;
}

.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lightblue;
}

.genderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    margin-bottom: 4rem;
}

.genderButtons{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.genderButtons:hover{
    transform: scale(1.1);
}

.selected{
    background-color: transparent;
    opacity: 0.3;
}

.image{
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    margin: 0 1rem;
}

.enterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.button {
    padding: 10px 40px;
    font-size: 18px;
    color: white;
    background-color: #fe6d1a;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 768px) {
    .container{
        display: grid;
        place-items: center;
        align-content: start;
    }
    
    .titleContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: lightblue;
    }
    
    .genderContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        place-items: center;
        margin-bottom: 4rem;
    }
    
    .genderButtons{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .genderButtons:hover{
        transform: scale(1.1);
    }
    
    .selected{
        background-color: transparent;
        opacity: 0.3;
    }
    
    .image{
        width: 80px;
        height: 80px;
        background-color: transparent;
        border: none;
    }
    
    .enterContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
    
    .button {
        font-size: 14px;
        color: white;
        background-color: #fe6d1a;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}